.table-repeater-component .choices input {
    min-width: 100% !important;
}

.table-repeater-column.has-hidden-label .fi-fo-field-wrp > label {
    @apply sr-only text-sm !mb-2 block;
}

@media (min-width: calc(theme('screens.sm') + 1px)) {
    .table-repeater-component.break-point-sm {
        &.streamlined {
            .fi-input-wrp,
            .fi-fo-file-upload .filepond--root {
                @apply ring-0 bg-transparent shadow-none;
            }

            .fi-fo-field-wrp:has(.fi-fo-checkbox-list),
            .fi-fo-field-wrp:has(.fi-fo-radio) {
                @apply py-2 px-3;
            }

            .fi-fo-field-wrp:has(.fi-fo-toggle) {
                @apply inline-block mt-1;
            }
        }

        .table-repeater-row {
            @apply divide-x divide-gray-950/5 dark:divide-white/20;
        }

        .table-repeater-row-actions {
            @apply justify-center;
        }
    }
}

@media (min-width: calc(theme('screens.md') + 1px)) {
    .table-repeater-component.break-point-md {
        &.streamlined {
            .fi-input-wrp,
            .fi-fo-file-upload .filepond--root {
                @apply ring-0 bg-transparent shadow-none;
            }

            .fi-fo-field-wrp:has(.fi-fo-checkbox-list),
            .fi-fo-field-wrp:has(.fi-fo-radio) {
                @apply py-2 px-3;
            }

            .fi-fo-field-wrp:has(.fi-fo-toggle) {
                @apply inline-block mt-1;
            }
        }

        .table-repeater-row {
            @apply divide-x divide-gray-950/5 dark:divide-white/20;
        }

        .table-repeater-row-actions {
            @apply justify-center;
        }
    }
}

@media (min-width: calc(theme('screens.lg') + 1px)) {
    .table-repeater-component.break-point-lg {
        &.streamlined {
            .fi-input-wrp,
            .fi-fo-file-upload .filepond--root {
                @apply ring-0 bg-transparent shadow-none;
            }

            .fi-fo-field-wrp:has(.fi-fo-checkbox-list),
            .fi-fo-field-wrp:has(.fi-fo-radio) {
                @apply py-2 px-3;
            }

            .fi-fo-field-wrp:has(.fi-fo-toggle) {
                @apply inline-block mt-1;
            }
        }

        .table-repeater-row {
            @apply divide-x divide-gray-950/5 dark:divide-white/20;
        }

        .table-repeater-row-actions {
            @apply justify-center;
        }
    }
}

@media (min-width: calc(theme('screens.xl') + 1px)) {
    .table-repeater-component.break-point-xl {
        &.streamlined {
            .fi-input-wrp,
            .fi-fo-file-upload .filepond--root {
                @apply ring-0 bg-transparent shadow-none;
            }

            .fi-fo-field-wrp:has(.fi-fo-checkbox-list),
            .fi-fo-field-wrp:has(.fi-fo-radio) {
                @apply py-2 px-3;
            }

            .fi-fo-field-wrp:has(.fi-fo-toggle) {
                @apply inline-block mt-1;
            }
        }

        .table-repeater-row {
            @apply divide-x divide-gray-950/5 dark:divide-white/20;
        }

        .table-repeater-row-actions {
            @apply justify-center;
        }
    }
}

@media (min-width: calc(theme('screens.2xl') + 1px)) {
    .table-repeater-component.break-point-2xl {
        &.streamlined {
            .fi-input-wrp,
            .fi-fo-file-upload .filepond--root {
                @apply ring-0 bg-transparent shadow-none;
            }

            .fi-fo-field-wrp:has(.fi-fo-checkbox-list),
            .fi-fo-field-wrp:has(.fi-fo-radio) {
                @apply py-2 px-3;
            }

            .fi-fo-field-wrp:has(.fi-fo-toggle) {
                @apply inline-block mt-1;
            }
        }

        .table-repeater-row {
            @apply divide-x divide-gray-950/5 dark:divide-white/20;
        }

        .table-repeater-row-actions {
            @apply justify-center;
        }
    }
}

@media (max-width: theme('screens.sm')) {
    .table-repeater-component.break-point-sm table {
        @apply block w-full;

        thead { @apply sr-only; }

        :is(tbody, th, td) { @apply block !w-full; }

        label { @apply text-start; }

        tr { @apply p-4 !w-full flex flex-col gap-6; }

        tr td:last-of-type ul { @apply px-0; }

        .table-repeater-column.has-hidden-label .fi-fo-field-wrp > label {
            @apply not-sr-only;
        }
    }
}

@media (max-width: theme('screens.md')) {
    .table-repeater-component.break-point-md table {
        @apply block w-full;

        thead { @apply sr-only; }

        :is(tbody, th, td) { @apply block !w-full; }

        label { @apply text-start; }

        tr { @apply p-4 !w-full flex flex-col gap-6; }

        tr td:last-of-type ul { @apply px-0; }

        .table-repeater-column.has-hidden-label .fi-fo-field-wrp > label {
            @apply not-sr-only;
        }
    }
}

@media (max-width: theme('screens.lg')) {
    .table-repeater-component.break-point-lg table {
        @apply block w-full;

        thead { @apply sr-only; }

        :is(tbody, th, td) { @apply block !w-full; }

        label { @apply text-start; }

        tr { @apply p-4 !w-full flex flex-col gap-6; }

        tr td:last-of-type ul { @apply px-0; }

        .table-repeater-column.has-hidden-label .fi-fo-field-wrp > label {
            @apply not-sr-only;
        }
    }
}

@media (max-width: theme('screens.xl')) {
    .table-repeater-component.break-point-xl table {
        @apply block w-full;

        thead { @apply sr-only; }

        :is(tbody, th, td) { @apply block !w-full; }

        label { @apply text-start; }

        tr { @apply p-4 !w-full flex flex-col gap-6; }

        tr td:last-of-type ul { @apply px-0; }

        .table-repeater-column.has-hidden-label .fi-fo-field-wrp > label {
            @apply not-sr-only;
        }
    }
}

@media (max-width: theme('screens.2xl')) {
    .table-repeater-component.break-point-2xl table {
        @apply block w-full;

        thead { @apply sr-only; }

        :is(tbody, th, td) { @apply block !w-full; }

        label { @apply text-start; }

        tr { @apply p-4 !w-full flex flex-col gap-6; }

        tr td:last-of-type ul { @apply px-0; }

        .table-repeater-column.has-hidden-label .fi-fo-field-wrp > label {
            @apply not-sr-only;
        }
    }
}

